body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.goku2nd{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.first-half-weidth{
    width: 50%;
    padding-left: 5%;
    padding-right: 2%;
}
.first-half-weidth img{
    width: 60%;
    margin-left: 200px;
}
.my-profile-button{
    text-decoration: none;
    color: #05055c;
    font-weight: 600;
    background-image: linear-gradient(orange, #f06109);
    padding: 10px 10px;
    border-radius: 7px;
}
p{
    text-align: justify;
}
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;


}
.my-family{
    background-image: url(img/my-family.png);
    background-repeat: no-repeat;
    background-position: right;
}
.three-saiyan{
    background-image: url(/img/exp-bg.png);
    background-repeat: no-repeat;
}
.saiyan{
    box-shadow: 10px 10px 40px gray;
    width: 50%;
    margin-left: 3%;
    padding-left: 10px;
    padding-right: 5px;
}
.saiyan img{
    width: 100%;
}
#left-border-blue{
    border-left: 7px solid darkorange;
}
#left-border-darkorange{
    border-left: 7px solid rgba(11, 11, 238, 0.74);
}
#left-border-aqua{
    border-left: 7px solid gray;
}